html {
  background-color: lightblue;
}

body {
  width: 100%;
}

table {
  text-align: center;
  background-color: white;
}

tbody th{
  font-size: 15px;
}

table,
td,
th {
    border: 1px solid #595959;
    border-collapse: collapse;
}

th,td {
    text-align: center;
}

form {
  margin-bottom: 10px;
}
